@import "../index.scss";

.red {
  color: $red_1_rimac;
}

.white {
  color: $white;
}

.gray1 {
  color: $gray_1_titulos;
}

.gray2 {
  color: $gray_2_paragraph;
}

.gray3 {
  color: $gray_3;
}

.gray4 {
  color: $gray_4;
}

.acian {
  color: $acian_2_hover;
}
