$white: #fff;

$gray_7: #f7f8fc;
$gray_6: #f0f2fa;
$gray_3: #a3abcc;
$gray_5: #e4e8f7;
$gray_4: #c5cbe0;
$gray_1_titulos: #494f66;
$gray_2_paragraph: #676f8f;

$red_1_rimac: #ef3340;
$acian_2_hover: #6f7dff;

$home_background: #ecf0ff;
