$font-size-title-sm: 20px;
$font-size-title-md: 24px;
$font-size-title-lg: 28px;
$font-size-title-xl: 36px;
$font-size-title-2xl: 40px;

$font-size-regular-md: 16px;
$font-size-regular-sm: 14px;
$font-size-regular-xs: 12px;
$font-size-regular-2xs: 10px;

$line-height-md: 24px;
$line-height-sm: 20px;
$line-height-xs: 16px;
$line-height-lg: 28px;
$line-height-xl: 36px;
$line-height-2xl: 48px;
