@import "./text";
@import "./fonts";
@import "./colors";
@import "./screens";

$input-radius: 4px;
$input-height: 56px;

$navbar-size: 64px;

$global-separation: 88px;
$global-separation-mobile: 32px;
$global-grid-column-size: 22px;

$create-plan-steps-size: 408px;
$create-plan-center-size: 0px;
$create-plan-data-size: 223px;
