@import "./colors";
@import "./screens";

$input-radius: 4px;
$input-height: 56px;

$font-size-title-md: 20px;
$font-size-title-lg: 24px;
$font-size-title-xl: 28px;
$font-size-title-2xl: 36px;
$font-size-title-3xl: 40px;

$font-size-regular-md: 16px;
$font-size-regular-sm: 14px;
$font-size-regular-xs: 12px;

$line-height-md: 24px;
$line-height-sm: 16px;
$line-height-lg: 28px;
$line-height-xl: 36px;
